<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>语音听写</title>
</head>
<body>
<h5>讯飞语音听写测试</h5>
<div>
    <audio controls autoplay></audio>
    <input onclick="startRecording()" type="button" value="录音" id="startBtn" />
    <input onclick="playRecording()" type="button" value="播放并显示" id = playBtn/>
</div>
<div>
    <textarea id="showTxt" rows="10" cols="100"></textarea>
</div>
<script type="text/javascript" th:src="@{/static/recorder.js}"></script>
<script>
    var recorder;
    var audio = document.querySelector('audio');

    function startRecording() {
        HZRecorder.get(function (rec) {
            recorder = rec;
            recorder.start();
        });
    }
    function stopRecording() {
        recorder.stop();
    }
    function playRecording() {
        recorder.play(audio);
        uploadAudio();
    }

    function uploadAudio() {
        recorder.upload("/speech/iat", function (state, e) {
            switch (state) {
                case 'uploading':
                    break;
                case 'ok':
                    var result = JSON.parse(e.target.responseText);
                    var showTxtObj = document.getElementById("showTxt");
                    showTxtObj.innerText="";
                    showTxtObj.innerText = result.data;
                    break;
                case 'error':
                    alert("上传失败");
                    break;
                case 'cancel':
                    alert("上传被取消");
                    break;
                default:
                    alert(state);
                    break;
            }
        });
    }

</script>
</body>
</html>